{% extends "base.html" %}

{% block content %}
    <h2>{% block title %} {{ customer["name"] }} {% endblock %}</h2>
    <p>Earnings: {{ customer["earnings"] }}</p>
    <p>Sedentary lifestyle: {{ customer["sedentary"] }}</p>
    <p>Weightlifting: {{ customer["weightlifting"] }}</p>
    <p>Yoga: {{ customer["yoga"] }}</p>
    <p>Cardio: {{ customer["cardio"] }}</p>
    <p>Sex: {{ customer["sex"] }}</p>
    <p>Married: {{ customer["married"] }}</p>

    {% for k in probs %}
    <p>{{ k }}: {{ customer[k] }}</p>
    {% endfor %}
{% endblock %}